
body {
  background-color: #f2f2f2;
}

/* TOP MENU */
.top-menu {
  background-color: #202124;
  height: 10em;
}

.top-menu li a {
  color: #fff !important;
  background-color: #454441;
  border: 1px solid white;
  border-radius: 10px;
  width: 10em;
  text-align: center;
  padding: 1em;
}

.top-menu li a:hover {
  color: #fff !important;
  background-color: #75736d;
  border: 1px solid white;
  transform: scale(1.1);
  cursor: pointer;
}