.sup {
  font-size: larger;
}

.medium-size {
  width: 40em;
}

.activeLi{
  background-color: #468DB5;
  color: white;
  font-size: larger;
}

.disableLi {
  color: black !important;
  text-align: left;
  font-size: medium;
}

.middle {
  text-align: center;
}

.center {
	margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  	width: 50%;
    height: 50%;
}

.message {
  height: 200px;
  width: 100%;
  font-size: 18px;
  resize: none;
  border: 1px solid lightgray;
}

.support {
  background-color: #e1eaf0 !important;
}

.client {
  background-color: #deedd5 !important;
}

/*Utilizado na table da view de email */

.th {
  color: white;
  background-color: #468DB5;
  font-weight: bold;
}

.header {
  background-color: white !important;
  display: flex;
  justify-content: space-between;
}

.body {
  background-color: white !important;
  margin-left: 3em;
  margin-right: 3em;
  margin-top: 1em;
}

.main-body {
  margin: 1em;
}

.gray {
  background-color: lightgray;
}

.logo-footer {
  color: #468DB5;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.align {
  margin-top: auto;
  margin-bottom: auto;
}

.right {
  margin-right: 0.5em;
  float: right;
}

.borderless {
  border: 0 none;
}

.gray {
  height: 2em;
  padding: 0.3em;
}